HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Claude Code ###
.claude/

## ==========================================
## [log]
## ==========================================
/logs/
*.log

## ==========================================
## [openapi3]
## ==========================================
src/main/resources/static/docs/openapi3.yaml

## ==========================================
## [generated]
## ==========================================
src/main/generated/

## ==========================================
## [docker-env]: 민감한 정보
## ==========================================
/docker/local/.env.local.mysql
/docker/local/.env.local.app
/docker/local/.env.local.minio

/docker/dev/.env.dev.app
/docker/dev/.env.dev.deploy
/docker/dev/.env.dev.mysql

/docker/prod/.env.prod