#====================================
### local mysql variables
#====================================
DEV_MYSQL_DATABASE=hirecore_member_server
DEV_MYSQL_USER=hirecore_app
DEV_MYSQL_PASSWORD=change-me
DEV_MYSQL_ROOT_PASSWORD=change-me